p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

.no-h-scroll pre > code > span {
  display: block;
  line-height: 1.25;
  white-space: normal;
}

.cols {
  display: flex;
  gap: 5px;
}
